:root{
    --branco-:#ffffff;
    --preto:#00030c;
    --cor-do-botao:#167bf7;
    --cinza-escrita:#c0c0c0;
}

body{background-color: var(--preto);
    color: var(--branco-)
}
*{
    margin: 0;
    padding: 0;
}

.principal{
    background-image: url(Background.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.conteiner{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.conteiner__botao{
    background-color: var(--cor-do-botao);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-);
    display: block;
}
.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-);
}